{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "jest": true,
      "node": true
    },
    "settings": {
      "react": { "version": "detect" },
      // TS Support with Airbnb which use plugin-import
      "import/extensions": [".js", ".mjs", ".jsx", ".ts", ".tsx"],
      "import/resolver": {
        "typescript": {
          "project": ["tsconfig.json", "apps/*/tsconfig.json"]
        }
      }
    },
    "rules": {
      "callback-return":"off"
    },

    "overrides": [
      {
        "files": ["**/*.tsx"],
        "rules": {
          // disabled, related https://github.com/yannickcr/eslint-plugin-react/issues/2353#issuecomment-650790793
          "react/prop-types": "off",
          "react/require-default-props": "off"

        }
      },
      {
        // IMP: service model需要忽略某些规则
        "files": ["apps/**/services/model/*.ts"],
        "rules": {
          "@typescript-eslint/no-empty-interface": "off"
        }
      }
    ]
  }
  